@model EntityModels.Models.Invoice
@using Utility;
@{
    Layout = "~/Views/Shared/AdminMAster.cshtml";
}

<script type="text/javascript" src='~/Content/Admin/js/bootstrap.file-input.js'></script>
<style>
    .loading-containers {
        z-index: 200000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.8)url(../img/white_trans.png) repeat left top !important;
    }

        .loading-containers .loaders {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            -webkit-animation: typing 1s linear infinite alternate;
            -moz-animation: Typing 1s linear infinite alternate;
            animation: typing 1s linear infinite alternate;
            margin: 50vh auto;
            position: relative;
            left: -12px;
        }
</style>
<style>
    .InvoiceTool {
        cursor: pointer;
        color: #0c9dcc;
        font-weight: 600;
        background: rgba(0,0,0,0.1);
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .bothActive {
        display: flex;
        width: 14px;
        height: 14px;
        background: #57f257;
        margin: 3px 5px 0px 5px;
        border-radius: 8px;
        border: 2px solid green;
    }

    .synthesisOnlyActive {
        display: flex;
        width: 14px;
        height: 14px;
        background: #cef257;
        margin: 3px 5px 0px 5px;
        border-radius: 8px;
        border: 2px solid #e9745f;
    }

    .saa {
        background: #ff4948 !important;
        color: #fff !important;
        border: 1px solid #ff4948 !important;
        width: 100%;
        margin-bottom: 5px;
    }

    .modal-backdrop {
        z-index: 0 !important;
    }

    .e-icons.e-file-delete-btn {
        display: none !important;
    }

    .headertopbox .topRightBar {
        padding: 0px 0px !important;
        margin: 0 0 8px auto;
    }

    #userreviewpopupid {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: #010101b3;
    }

    .Tab {
        border-bottom: 3px solid #e53939;
        color: #e53939;
    }

    a:focus, a:hover {
        border-bottom: 3px solid #e53939;
        color: #e53939;
        text-decoration: none;
    }
</style>

<div class="animate-panelmessesgarea padbtmzero">

    @if (Convert.ToString(ViewBag.StatusMessage) == "Success1")
    {
        <script>
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.success('@ViewBag.CreateIn');
        </script>
    }

    @if (Convert.ToString(ViewBag.StatusMessage) == "Success")
    {
        <script>


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.success('@ViewBag.CreateInApprove');

        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "Success2")
    {
        <script>


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.success('@ViewBag.SentApprove');

        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "DepartmentError")
    {
        <script>


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error('@ViewBag.LeastOnedep');

        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "Delete")
    {
        <script>
            MyfunSuccess();
        </script>
    }

    @if (Convert.ToString(ViewBag.StatusMessage) == "Error")
    {
        <script>
            MyfunError();
        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "NoItem")
    {
        <script>
            MyfunNoItem();
        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "Exists")
    {
        <script>
            showpopupnew();
        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "Existence")
    {
        <script>
            showpopupExist();
        </script>
    }

    @if (Convert.ToString(ViewBag.StatusMessage) == "InvalidPDFSize")
    {
        <script>
            InvalidPDFSize();
        </script>
    }
    @if (Convert.ToString(ViewBag.StatusMessage) == "InvalidFile")
    {
        <script>
            InvalidPDFSize();
        </script>
    }


</div>

<div class="loading-containers loading-inactives" style="display:none;">
    <div class="loaders"></div>
</div>

<div class="inv-heading">
    <h3>Add Invoice </h3>
</div>

@using (Html.BeginForm("Create", "Invoices", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmMain" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="modal fade" id="userreviewpopupid" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="margin-top:54%;width:600px;">
                <div class="modal-header text-center">
                    <button type="button" onclick="reloadpage()" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Feedback</h4>
                </div>
                <div class="modal-body">
                    <label>
                        FeedBack
                    </label>
                    @Html.TextAreaFor(model => model.InvoiceReview, new { maxlength = 500, @class = "form-control", rows = "3" })
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="UpdateUserReview()" class="buttonbox btnsubmit" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body addinvoice invoice-head">
        <div class="row bg-white">
            <input type="hidden" id="CurrentDate" value="@ViewBag.CurrentDate" />
            <div class="col-md-6 col-sm-6 leftpart">
                @if (!String.IsNullOrEmpty(Model.UploadInvoice))
                {
                    @Html.HiddenFor(model => model.UploadPdfAutomationId)
                    <div hidden>
                        <div class="input_edite uplaodpdfbox">
                            @Html.TextBoxFor(model => model.UploadInvoice, new { type = "file" })
                            @Html.HiddenFor(s => s.UploadInvoice)
                            <div data-provides="fileupload">
                                <span id="spaninvoice">
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div><div class="clear"></div>
                        <div class="invoiceimage min_height10"></div>
                    </div>

                    <div class="pdf_popup_area">
                        @if (!string.IsNullOrEmpty(Model.UploadInvoice))
                        {
                            string filePath = Model.UploadInvoice;

                            if (filePath.Contains(@"\") || filePath.Contains("/"))
                            {
                                <iframe src="~/UserFiles/Automatic-Invoice-File/@Model.UploadInvoice" frameborder="0" width="100%" height="1000" id="ifrm"></iframe>
                            }
                            else
                            {
                                <iframe src="~/UserFiles/BulkUploadFile/@Model.UploadInvoice" frameborder="0" width="100%" height="1000" id="ifrm"></iframe>
                            }
                        }
                    </div>
                    <div class="clear"></div>
                }
                else
                {
                    <div>
                        @*<h3>Invoice <span class="highlight">*</span></h3>*@
                        <div class="invoiceimage paddnone0"></div>
                        <div class="uploadscanbutton">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-file" id="spaninvoice">
                                    <span class="fileupload-new"> <span class="btnbox btnupload"> <img src="~/Content/Admin/images/icon_pdfblack.png" alt="" class="blackicon" /> <img src="~/Content/Admin/images/icon_pdfwhite.png" alt="" class="whiteicon" /> <span>Upload Pdf</span> </span> </span> <span class="fileupload-exists">Change</span>
                                    @Html.Hidden("flagaddnew")

                                    @Html.TextBoxFor(model => model.UploadInvoice, new { type = "file" })

                                </span><span class="fileupload-preview" id="spnvalue"></span> <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none" id="aclose">×</a>
                                @Html.ValidationMessageFor(model => model.UploadInvoice)
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
                <div id="popupDepartment" class="divIDClass modal-popup modal-danger modal-message " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Department</div>
                        <div class="modal-body ">Please Select Department.</div>
                        <div class="modal-footer " style="text-align:center">
                            <a class="btn" data-dismiss="modal" onclick="closemodal()">OK</a>
                        </div>
                    </div>
                </div>
                <div id="popupidext" class="divIDClass modal-popup modal-danger modal-message " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">PDF</div>
                        <div class="modal-body ">Please upload only pdf files.</div>
                        <div class="modal-footer " style="text-align:center">
                            <a class="btn" data-dismiss="modal" onclick="closemodal()">OK</a>
                        </div>
                    </div>
                </div>
                <div id="popupid" class="divIDClass modal-popup modal-danger modal-message " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">PDF</div>
                        <div class="modal-body ">Please import the scanned document before you save the Invoice.</div>
                        <div class="modal-footer " style="text-align:center">
                            <a class="btn" data-dismiss="modal" onclick="closemodal()">OK</a>
                        </div>
                    </div>
                </div>
                <div id="popupSize" class="divIDClass modal-popup modal-danger modal-message " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Invalid PDF Size</div>
                        <div class="modal-body ">File Size is too Big.</div>
                        <div class="modal-footer " style="text-align:center">
                            <a class="btn" data-dismiss="modal" onclick="closemodal()">OK</a>
                        </div>
                    </div>
                </div>
                <div id="popupStoreid" class="divIDClass modal-popup modal-danger modal-message " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Invoice</div>
                        <div class="modal-body ">Please select the store for add Invoice.</div>
                        <div class="modal-footer " style="text-align:center">
                            <a class="btn" data-dismiss="modal" onclick="closemodal()">OK</a>
                        </div>
                    </div>
                </div>
                <div id="popupExists" class="divIDClass modal-popup modal-danger modal-message spical_modal " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <button type="button" onclick="Duplicatepopupclose()" class="close">&times;</button>
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Duplicate found</div>
                        <div class="modal-body ">This invoice already exists in the database.</div>
                        <div class="modal-footer " style="text-align:center">
                            <input type="hidden" id="hndinvoiceid" />
                            <a data-dismiss="modal" onclick="" id="hrefopeninvoice" onclose="Setvalues();" href="@Url.Action("Details", "Invoices", new { Id = ViewBag.invoiceid })" target="_blank" class="btn">Open Invoice</a>
                            <a onclick="Duplicatepopupclose()" class="btn" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
                <div id="popupcheckExistsagain" class="divIDClass modal-popup modal-danger modal-message spical_modal " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content duplicatedata">
                        <div class="modal-header text-center">
                            <button type="button" onclick="SubDuplicatepopupclose()" class="close">&times;</button>
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Potential Duplicate</div>
                        <div class="modal-body ">
                            Another invoice already exists with this number.
                            <div style="text-align:center" id="divdisplayduplicateinvoice">
                            </div>
                        </div>

                        <div class="modal-footer " style="text-align:center">
                            <a dat-dismiss="modal" onclick="DisableKeepandSave();" class="btn" data-dismiss="modal" id="btnPopupKeepandSave">Keep and Save</a>
                            @*<a onclick="SubDuplicatepopupclose()" href="@Url.Action("Index", "Invoices")" class="btn" data-dismiss="modal">Cancel</a>*@
                            <a onclick="SubDuplicatepopupclose()" class="btn" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
                <div id="popupDisplayduplicateinvoice" class="divIDClass modal-popup modal-danger modal-message spical_modal " style="position: fixed;  left:45%; width:300px; top: 10px; display:none">
                    <div class="modal-content duplicatedata">
                        <div class="modal-header text-center">
                            <button type="button" onclick="" class="close">&times;</button>
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Duplicate found</div>
                        <div class="modal-body ">
                            This invoice already exists in the database.
                        </div>
                        <div class="modal-footer " style="text-align:center">
                            <a onclick="DisplayDuplicatepopupclose()" class="btn" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 rightpart">
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    @*<h3><a href="#" id="InvoiceInformation" class="Tab" onclick="InvoiceInformation();">Invoice Information</a></h3>*@
                    <h3>Invoice Information</h3>
                    @*<h3 style="margin-right: auto; margin-left: 25px;">
                            <a href="#" id="UserFeedBack" onclick="UserFeedBack();">User FeedBack</a>
                        </h3>*@
                </div>
                <div class="formmain">
                    @*@{
                        if (Roles.IsUserInRole("Administrator"))
                        {*@
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Store</label><span class="highlight">*</span>
                                @Html.DropDownListFor(model => model.StoreId, null, "Select Store ", new { @class = "myval drpcls", id = "Storeid", onchange = "drpStoreselect()" })
                                @Html.ValidationMessageFor(model => model.StoreId)
                            </div>
                        </div>
                    </div>
                    @*}
                            else
                            {
                                @Html.HiddenFor(model => model.StoreId)
                            }
                        }*@

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label> Payment Method</label> <span class="highlight">*</span>
                                @Html.DropDownListFor(model => model.PaymentTypeId, null, "Select Payment Method", new { id = "Payment_type", @class = "myval drpcls", maxlength = 100, onchange = "ddListPaymentTypeChange(this.value)" })
                                @Html.ValidationMessageFor(model => model.PaymentTypeId)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Invoice Type </label><span class="highlight">*</span>
                                @Html.DropDownList("InvoiceTypeId", null, "Select Type ", new { id = "Type_id", @class = "form-control myval drpcls", onchange = "ddLTypeChange(this.value)" })
                                @*@Html.DropDownListFor(a => a.InvoiceTypeId, null, "Select Type ", new { id = "Type_id", @class = "myval" })*@
                                @Html.ValidationMessageFor(model => model.InvoiceTypeId)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <div style="display: flex;flex-direction: row;justify-content: space-between;" id="ToolTipInstuctions"><label>Vendor Name</label><span class="highlight" style="margin-right: auto;">*</span><span class="" id="spnActive"></span><span class="InvoiceTool">Instructions</span></div>
                                @Html.DropDownListFor(a => a.VendorId, null, "Select Vendor ", new { @class = "myval drpcls", @onchange = "BindAddress(this.value);getVendorDepartmentList();" })
                                @Html.ValidationMessageFor(model => model.VendorId)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" id="divvendorphone" style="display:none;">
                            <div class="form-group">
                                <label>Vendor Phone Number</label>
                                <br /><br />
                                <div class="addressbox" id="PhoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divvendoraddress" style="display:none;">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Vendor Address</label>
                                <div class="addressbox" id="addresss"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row" id="divvendorQBStatus" style="display:none;">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Vendor QB Status</label>
                                    <div class="addressbox" id="VendorQBStatus"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Vendor Synthesis Status</label>
                                    <div class="addressbox" id="VendorSynthesisStatus"></div>
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Invoice #</label><span class="highlight">*</span>
                                @Html.TextBoxFor(model => model.InvoiceNumber, new { maxlength = 35, id = "InvoiceNumber", name = "InvoiceNumber", Type = "text", @class = "form-control drpcls" })
                                <span class="highlight"> @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "form-error-msg show" })</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Invoice Date</label><span class="highlight">*</span>
                                <div class="">
                                    @Html.HiddenFor(model => model.TotalAmount)
                                    @Html.TextBoxFor(model => model.strInvoiceDate, new { onkeydown = "return false", maxlength = 100, @class = "datepicker form-control drpcls", @id = "InvoiceDate" })
                                    @Html.ValidationMessageFor(model => model.strInvoiceDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="whitebox">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Invoice Breakdown<span class="highlight">*</span> </label>
                            </div>
                        </div>
                        <div id="tbladdon" class="tbladdoncls">
                            @if (Model.InvoiceDepartmentDetails == null)
                            {
                                <input type="hidden" id="hdninvoicecount" value="1" />
                                <input type="hidden" id="hdnreqval" value="0" />
                                <div id="trrow_1" class="trrowcls">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-6 col-sm-5 jquerydiv">
                                            <div class="form-group bg_red">
                                                @Html.DropDownListFor(model => model.ChildDepartmentId, new SelectList(Model.DepartmentMasters, "DepartmentId", "DepartmentName"), "Select Department", new { @class = "form-control drpcls wdith255 myval required", id = "Drp_1", @required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-1 col-xs-1 visible-xs visible-sm visible-md">
                                            <span class="spncredit" style="color:red;display:none;"> - </span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-7 padleftzero padrightzero demonstration">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.ChildAmount, new { maxlength = 18, @class = "form-control groupOfTexbox decimalOnly addamtcls  required setAmount", id = "Amt_1", onkeyup = "AddAmt()" })
                                                <br />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 paddingrightzero">
                                            <a class="btnaddbox" id="aAdd_1" onclick="AddField(1)"><i class="fa fa-plus"></i></a>
                                            <a id="aRemove_1" class="aremove" onclick="RemoveField(1)" style="display:none;"><i class="fa fa-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                var k = 0;
                                var temp = "";
                                for (var j = 0; j < Model.InvoiceDepartmentDetails.Count; j++)
                                {
                                    k = (j + 1);
                                    <input type="hidden" id="hdninvoicecount" value='@Model.InvoiceDepartmentDetails.Count' />
                                    <input type="hidden" id="hdnreqval" value="0" />
                                    <div id="trrow_@k" class="trrowcls">
                                        <div class="row">

                                            <div class="col-lg-7 col-md-5 col-sm-5 jquerydiv">
                                                <div class="form-group">
                                                    @{
                                                        @Html.DropDownList("ChildDepartmentId", new SelectList(Model.DepartmentMasters, "DepartmentId", "DepartmentName", Model.InvoiceDepartmentDetails[j].DepartmentId), "Select Department", new { @class = "form-control drpcls wdith255 myval", id = "Drp_" + k })
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1 visible-xs visible-sm visible-md">
                                                <span class="spncredit" style="color:red;display:none;"> - </span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 padleftzero padrightzero">
                                                <div class="form-group">
                                                    @Html.TextBox("ChildAmount", Model.InvoiceDepartmentDetails[j].Amount, new { maxlength = 18, @class = "form-control addamtcls  groupOfTexbox decimalOnly setAmount", id = "Amt_" + k, onchange = "AddAmt()" })
                                                    <br />
                                                    @Html.ValidationMessageFor(model => model.ChildAmount)
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 paddingrightzero">
                                                <a class="btnaddbox" id="aAdd_@k" onclick="AddField(@k)"><i class="fa fa-plus"></i></a>
                                                <a id="aRemove_@k" class="aremove" onclick="RemoveField(@k)" style="display:none;"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="row" id="divdiscountlabel">
                                <div class="col-md-12">
                                    <label>Discount<span class="highlight"></span> </label>
                                </div>
                            </div>

                            <div class="row form-group" id="divdiscount">
                                <div class="col-lg-3 col-md-4 col-sm-3">
                                    @Html.DropDownList("DiscountTypeId", null, "Select Type", new { @class = "form-control  myval required", @required = "required", id = "discountype", @onchange = "Binddiscount();" })
                                </div>
                                <div class="col-lg-1 col-sm-1 dollarpersign" id="divper" style="display:none">%</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padleftzero padrightzero" id="divpercentage" style="display:none;">
                                    <div class="form-group marbtmzero">
                                        @Html.TextBoxFor(model => model.DiscountPercent, new { maxlength = 6, @class = "form-control groupOfTexbox decimalOnly  required", id = "Discount", onchange = "Calculatediscount()", @required = "required" })
                                        @Html.TextBoxFor(model => model.CheckDup, new { maxlength = 6, @class = "", @style = "display:none;" })
                                        @Html.TextBoxFor(model => model.btnName, new { maxlength = 6, @class = "", @style = "display:none;" })
                                    </div>
                                </div> <div class="col-lg-1 col-sm-1 dollarpersign" id="divdolar" style="display:none">$</div>
                                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-7 padleftzero padrightzero" id="divdiscountamt" style="display:none;">
                                    <div class="form-group marbtmzero">
                                        @Html.TextBoxFor(model => model.DiscountAmount, new { maxlength = 18, @class = "form-control groupOfTexbox decimalOnly  required", id = "Discountamount", @required = "required", onchange = "Calculatediscount()" })
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group" id="SelectDeptForDisc">
                                <div class="col-lg-7 col-md-6 col-sm-5">
                                    <div class="form-group bg_red">
                                        @Html.DropDownList("Disc_Dept_id", null, "Department", new { @class = "form-control  wdith255 myval ", id = "Disc_Drp_1" })
                                        @Html.ValidationMessageFor(model => model.Disc_Dept_id)
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divNoNeedForCRApproval">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @*style="display:none;"*@
                                            <input class="chk" id="QuickCRInvoice" type="checkbox" name="QuickCRInvoice" value="1" style="display:none;">
                                            <label for="QuickCRInvoice" style="display:none;">No need for approval credit memo</label>
                                            <input type="hidden" id="QuickCR" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <span class="invoiceamttl">Total Invoice Amount</span>
                                        <input type="hidden" id="totalamounrt" value="@Model.TotalAmount" />
                                    </div>
                                </div>
                                @*<div class="col-md-1 col-sm-1 col-xs-1"> </div>*@
                                <div class="col-md-5 col-sm-5 col-xs-8 padleftzero">
                                    <div class="form-group">
                                        @if (Model.TotalAmount != null)
                                        {
                                            <b><span class="spncredit spncredit2" style="color:red;display:none;"> - </span></b>
                                            <span id="spanamount" class="spanamount spanamountBackcolor" style="padding-left: 0px;">
                                                @Model.TotalAmount
                                            </span>
                                        }
                                        else
                                        {
                                            <b><span class="spncredit spncredit2" style="color:red;display:none;"> - </span></b><span id="spanamount" class="spanamount spanamountBackcolor" style="padding-left: 0px;display:none">
                                                @*@Html.TextBoxFor(model => model.TotalAmount, new { maxlength = 100 })*@
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            Note
                        </label>

                        @Html.TextAreaFor(model => model.Note, new { maxlenght = 250, @class = "form-control addinvoicearea" })
                    </div>

                    @if (Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("ApproveInvoice"))
                    {
                        <div class="row" id="divNoNeedForApproval" style="display:none;">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="chk" id="QuickInvoice" checked="checked" type="checkbox" name="QuickInvoice" value="1">
                                        <label for="QuickInvoice">No need for approval</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (!Roles.IsUserInRole("Administrator") && new SysnthesisRepo.WebRoleProvider().GetroleUserRoleWise(UserModule.getUserTypeId(), "nnfapprovalInvoice", Model.StoreId) == true) /*Roles.IsUserInRole("nnfapprovalInvoice")*/
                    {
                        <div class="row" id="divNoNeedForApproval">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="chk" id="QuickInvoice" type="checkbox" name="QuickInvoice" value="1">
                                        <label for="QuickInvoice">No need for approval</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="chk" id="QBtransferss" type="checkbox" name="QBtransferss" value="1">
                                    <label for="QBtransferss">No QB transfer</label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="from-group row">
                        <div class="col-sm-12">
                            <input type="submit" value="Save" id="btnInvoiceSubmit" name="btnsubmit" class="buttonbox btn_spcial" onclick="return validatedrptext(1,'Save')" />
                            @if (String.IsNullOrEmpty(Model.UploadInvoice))
                            {
                                <input type="submit" value="Save & New" name="btnsubmit" class="buttonbox btn_spcial" id="btnNewInvoiceSubmit" onclick="return validatedrptext(1,'Save & New')" />
                            }

                            @if (String.IsNullOrEmpty(Model.UploadInvoice))
                            {
                                @Html.ActionLink("Cancel", "IndexBeta", "Invoices", new { id = @ViewBag.id }, new { @class = "buttonbox btncancel" })
                            }
                            else
                            {
                                @Html.ActionLink("Cancel", "InvoiceAutomationGrid", "Invoices", new { }, new { @class = "buttonbox btncancel" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear">
    </div>
}

<script>
    var isValid = '@Html.Raw(Json.Encode(ViewData.ModelState.IsValid))';
    var UploadInvoice = '@Model.UploadInvoice';
    var closingyear = '@ViewBag.closingyear';
    var CreateIn = '@ViewBag.CreateIn';
    var CreateInApprove = '@ViewBag.CreateInApprove';
    var SentApprove = '@ViewBag.SentApprove';
    var LeastOnedep = '@ViewBag.LeastOnedep';
    var StatusMessage = '@Convert.ToString(ViewBag.StatusMessage)';
</script>
<script type="text/javascript" src='~/Content/Admin/vendor/moment/moment.js'></script>
<script src="~/Content/Admin/js/bootstrap-datetimepicker.js"></script>
<script src="~/Form_JS/Invoices.js?version=@System.Configuration.ConfigurationManager.AppSettings["version"].ToString()"></script>
<script>

    $(document).ready(function () {
        var today = document.getElementById("CurrentDate").value;
        $('#InvoiceDate').datetimepicker({
            format: 'MMM DD,YYYY',
            useCurrent: false,
            maxDate: moment(),
            minDate: new Date(closingyear, 01 - 1, 01),
        });
        $('#InvoiceDate').datetimepicker({
            format: 'MMM DD,YYYY',
            useCurrent: false,
            maxDate: today,
            minDate: new Date(closingyear, 01 - 1, 01),
        });
        $('#Invoice_Date').datetimepicker({
            format: 'MMM DD,YYYY',
            useCurrent: false,
            maxDate: today
        });
    });

    function BinddiscountData() {
        debugger;
        var today = document.getElementById("CurrentDate").value;
        $('#Invoice_Date').datetimepicker({
            format: 'MMM DD,YYYY',
            useCurrent: false,
            maxDate: today
        });
        var discounttype = $("#discountype").val();
        var totalamtvalue = $("#totalamounrt").val();
        $("#QuickCRInvoice").prop('checked', false);

        if (discounttype === "2") {
            $("#divpercentage").show();
            $("#divdiscountamt").show();

            $("#divper").show();
            $("#divdolar").show();
            $('#Discountamount').attr('readonly', true);
            $('#SelectDeptForDisc').show();
            $('#spanamount').show();
            if ($("#QuickCR").val() == "1") {
                $("#divNoNeedForCRApproval").show();
            }
            else {
                $("#divNoNeedForCRApproval").hide();
            }
        }
        else if (discounttype === "3") {
            $("#divpercentage").hide();
            $('#Discountamount').attr('readonly', false);
            $("#divper").hide();
            $("#divdolar").show();

            $("#divdiscountamt").show();

            $('#SelectDeptForDisc').show();
            $('#spanamount').show();
            if ($("#QuickCR").val() == "1") {
                $("#divNoNeedForCRApproval").show();
            }
            else {
                $("#divNoNeedForCRApproval").hide();
            }

        } else {
            $("#divpercentage").hide();
            $("#divdiscountamt").hide();

            $("#divper").hide();
            $("#divdolar").hide();
            $('#SelectDeptForDisc').hide();
            $('#spanamount').show();
            $("#divNoNeedForCRApproval").hide();
        }

    }
</script>
<style>

    .spical_modal .modal-header {
        position: relative;
    }

        .spical_modal .modal-header .close {
            position: relative;
            z-index: 999;
            right: 9px;
            top: 3px;
        }
</style>

<script type="text/javascript">
document.title = '@ViewBag.Title';
</script>

