@model EntityModels.Models.UserMaster

@{
    Layout = "~/Views/Shared/AdminLogin.cshtml";
}
<style>
    .loginboxoage .field-validation-error span, .field-validation-error {
        color: #FFFFFF !important;
        width: 370px !important;
    }
</style>
@using (Html.BeginForm("ModifyPassword", "Login", FormMethod.Post, new { @id = "loginvalidation" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="animated fadeInDown">
        <div>
            <div class="loginboxoage">
                <div class="logobox">
                    <img src="~/Content/Admin/images/logo.png" alt="" />
                </div>
                <h1>Modify Password</h1>
                <div class="loginblock">

                    <div class="formbox">
                        <div>
                            @if (ViewBag.statusmessage == "t")
                            {
                                <span class="ValidationMsg">@ViewBag.ErrorMessage</span>
                            }
                            @if (ViewBag.statusmessage == "t1")
                            {
                                <span class="ValidationMsg">@ViewBag.ErrorMessage</span>
                            }
                        </div>

                        <div class="textboxarea">
                            @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @autocapitalize = "off", @autocorrect = "off", @placeholder = "New Password", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "ValidationMsg" })
                        </div>

                        <div class="textboxarea">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off", @autocapitalize = "off", @autocorrect = "off", @placeholder = "Confirm Password", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "ValidationMsg", id = "Message" })
                        </div>

                        <div class="textboxarea">
                            <input type="submit" id="btnSave" class="btn btn-primary btn-block" value="Modify Password">
                        </div>
                    </div>

                    <!--###################### -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    @section FooterScript{
        <script type="text/javascript">

            function registerpublish() {

                if ($('#loginvalidation').valid()) {

                }
            }
            function ClearText() {
                $(".field-validation-error ValidationMsg").hide();
            }

        </script>
        <script type="text/javascript" src='~/Content/Scripts/jquery.validate.min.js'></script>
        <script type="text/javascript" src='~/Content/Scripts/jquery.validate.unobtrusive.min.js'></script>
        <script>

            $('#Password, #ConfirmPassword').on('keyup', function () {

                if ($('#Password').val() != "" && $('#ConfirmPassword').val() != "") {
                    if ($('#Password').val() == $('#ConfirmPassword').val()) {
                        $("#btnSave").prop('disabled', false);
                        $('#Message').html('Password Matched').css('color', 'white');
                    } else {
                        $('#Message').html('Not Matching').css('color', 'white');
                        $("#btnSave").prop('disabled', true);
                    }
                }
            });
        </script>
        @if (ViewBag.StatusMessage != null)
        {
            <script type="text/javascript">
     window.onload = function() {
         alert("@ViewBag.StatusMessage");
     };
            </script>
        }
    }

}