@model EntityModels.Models.UserTypeMaster
@using Utility
<script src='@AdminSiteConfiguration.GetURL()Content/Admin/assets/js/datetime/bootstrap-datepicker.js'></script>


<div id="globalTabContent">
    <div id="PanAddUpdate">
        <div class="header-small special_bg">
            <h3>Update User Role </h3>
        </div>

        @using (Html.BeginForm("Edit", "UserTypeMasters", FormMethod.Post, new { id = "frmMain" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserTypeId)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.GroupId)
            @Html.HiddenFor(model => model.IsViewInvoiceOnly)
            <div class="page-body headertopbox addinvoice" style="padding-top:0px!important;">
                <div class="datagrid martop15">
                    <div class="formmain">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Group<span class="highlight"></span>
                                    </label>
                                    @Html.TextBoxFor(model => model.GroupMasters.Name, new { maxlength = 100, disabled = true, @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>
                                        User Role<span class="highlight">*</span>
                                    </label>
                                    @Html.TextBoxFor(model => model.UserType, new { maxlength = 100, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "highlight1" })
                                </div>
                                <div class="form-group">
                                    <label>
                                        User Level<span class="highlight">*</span>
                                    </label>
                                    @Html.DropDownList("LevelsApproverId", null, "-- Select --", htmlAttributes: new { @class = "myval" })
                                    @Html.ValidationMessageFor(model => model.LevelsApproverId, "", new { @class = "highlight1" })
                                </div>
                                <div class="form-group edit-checkbox">
                                    &nbsp;&nbsp;&nbsp;  @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class = "Remember", @style = "margin: 1px;position: absolute;left: 25px;width: 26px;height: 22px;display: inline;opacity: unset;" })
                                    <span class="text" style="font-size: 18px;">IsActive</span>
                                </div>

                                <div class="from-group row">
                                    <div class="col-sm-8 ">
                                        <input type="submit" value="Update" class="buttonbox btnsubmit" />

                                        @Html.ActionLink("Cancel", "Index", new { id = @ViewBag.id }, new { @class = "buttonbox btncancel" })
                                    </div>
                                </div>
                            </div>
                        </div><br /><br />
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        }

    </div>

</div>

<script>  
    var top = 0;
</script>
<script src="~/Form_JS/UserTypeMasters.js"></script>

