@model EntityModels.Models.DashboardDaily
@{ Layout = "~/Views/Shared/AdminMaster.cshtml";
    var StoreId = ViewBag.Storeidvalue; }
@using Utility

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link href="~/Content/Admin/assets/css/dashboard.css" rel="stylesheet" />
<script src="~/Content/Admin/js/DashboardChart/bar-multicolor.js"></script>
<script src="~/Content/Admin/js/DashboardChart/Chart.min.js"></script>


<body>

    <div class="synthesisdashboardcontainer">
        <div class="top-dshbosrd w-100">
            <div class="input-sec">

                @Html.DropDownList("WeeklyPeriodId", null, new { id = "WeeklyPeriodId", @class = "form-control myval drpcls" })

            </div>
            <div class="input-sec clshide">
                @Html.DropDownList("StateId", null, "ALL", new { id = "StateId", @class = "form-control myval drpcls", @onchange = "GetStateWisedata();", detail = "State" })
            </div>
            @*<input name="DailyChartDate" type="text" value="11-26-2021" maxlength="100" id="DailyChartDate" placeholder="From" class="datepicker form-control" onkeydown="return false" style="display:none;">*@
        </div>

        <div class="top-widget-row">
            <div class="tw-box">
                <span id="AllVoidsAmt">$ @Model.AllVoidsAmt</span>
                <span>All Voids</span>
                <div class="badge" id="AllVoids">@Model.AllVoids</div>

            </div>

            <div class="tw-box">
                <span id="ItemCorrectsAmt">$ @Model.ItemCorrectsAmt</span>
                <span>Item Corrects</span>
                <div class="badge" id="ItemCorrects">@Model.ItemCorrects</div>
            </div>

            <div class="tw-box">
                <span id="ItemReturnsAmt">$ @Model.ItemReturnsAmt</span>
                <span>Returns</span>
                <div class="badge" id="ItemReturns">@Model.ItemReturns</div>
            </div>

            <div class="tw-box">
                <span id="CashPayout">$ @Model.CashPayout</span>
                <span>Cash Payouts</span>
            </div>
            <div class="tw-box overShort">
                <span id="Over">$ @Model.Over</span>
                <span>Over / Short</span>
            </div>

        </div>
        <div class="middle-widget-row">
            <div class="middle-widget-week">

                <div class="weeklygrowth">
                    <span>Weekly Comparison Table</span>

                    <div class="weeklycomparisionwidget">
                        <div class="week-cell flexible">
                            <div class="widgetheading">
                                Net Sales (+Tax)
                            </div><span id="WCSalesAmt">$ 0.00</span>
                            <div class="ascomparedto">As Compared to</div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Last Week</span>
                                    <span id="WCLastWeekAmt">0.00</span>
                                </div>
                                <div id="clsvalup0" class="valueUpCell valueCellSmaller">
                                    <span id="WCLastWeekPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Same Week Last Year</span>
                                    <span id="WCSameWeekLastYearAmt">0.00</span>

                                </div>
                                <div id="clsvalup1" class="valueUpCell valueCellSmaller">
                                    <span id="WCSalesSameWKLYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Current Year</span>
                                    <span id="WCCurrentYearAvergaeAmt">0.00</span>
                                </div>
                                <div id="clsvalup2" class="valueDownCell valueCellSmaller">
                                    <span id="WCSalesCurYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Last Year</span>
                                    <span id="WCLastYearAvergaeAmt">0.00</span>
                                </div>
                                <div id="clsvalup7" class="valueDownCell valueCellSmaller">
                                    <span id="WCSalesLastYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                        </div>

                        <div class="week-cell flexible">
                            <div class="widgetheading">
                                Customer Count

                            </div><span id="WCCCount">0</span>
                            <div class="ascomparedto">As Compared to</div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Last Week</span>
                                    <span id="WCCCountLastWeekAmt">0</span>
                                </div>
                                <div id="clsvalup01" class="valueUpCell valueCellSmaller">
                                    <span id="WCCCountLastWeekPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Same Week Last Year</span>
                                    <span id="WCCCountSameWeekLastYearAmt">0</span>
                                </div>
                                <div id="clsvalup3" class="valueUpCell valueCellSmaller">
                                    <span id="WCCCountSameWKLYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>

                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Current Year</span>
                                    <span id="WCCCountCurrentYearAvergaeAmt">0</span>
                                </div>
                                <div id="clsvalup4" class="valueDownCell valueCellSmaller">
                                    <span id="WCCCountCurYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Last Year</span>
                                    <span id="WCCCountLastYearAvergaeAmt">0</span>
                                </div>
                                <div id="clsvalup8" class="valueDownCell valueCellSmaller">
                                    <span id="WCCCountLastYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                        </div>
                        <div class="week-cell flexible">
                            <div class="widgetheading">
                                Average Sale
                            </div><span id="WCAverageAmt">$ 0.00</span>
                            <div class="ascomparedto">As Compared to</div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Last Week</span>
                                    <span id="WCAverageLastWeekAmt">0.00</span>
                                </div>
                                <div id="clsvalupAvg0" class="valueUpCell valueCellSmaller">
                                    <span id="WCAverageLastWeekPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearsameweek">
                                <div class="weeklyvalues">
                                    <span>Same Week Last Year</span>
                                    <span id="WCAverageSameWKLYearAmt">0.00</span>
                                </div>
                                <div id="clsvalup5" class="valueUpCell valueCellSmaller">
                                    <span id="WCAverageSameWKLYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>

                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Current Year</span>
                                    <span id="WCAverageCurYearAmt">0.00</span>
                                </div>
                                <div id="clsvalup6" class="valueDownCell valueCellSmaller">
                                    <span id="WCAverageCurYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                            <div class="lastyearaverage">
                                <div class="weeklyvalues">
                                    <span>Average Week Last Year</span>
                                    <span id="WCAverageLastYearAmt">0.00</span>
                                </div>
                                <div id="clsvalup9" class="valueDownCell valueCellSmaller">
                                    <span id="WCAverageLastYearPer">0.00%</span><img src="/Content/Admin/images/Dashboard/fast-forward-double-right-arrows-symbol.png" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="smallwidgetcontainer swc-week">
                <div class="middle-widget-two">
                    <div class="middle-widget-two-Offline">

                        <div class="offlinestore">

                            <img src="/Content/Admin/images/Dashboard/offline-store.png">
                            <span>In-Store</span>
                            <span id="Offline">@Model.Offline%</span>
                        </div>

                    </div>
                    <div class="vs"><span>Vs</span></div>
                    <div class="middle-widget-two-online">
                        <div class="offlinestore">

                            <img src="/Content/Admin/images/Dashboard/online-store.png">
                            <span>Online</span>
                            <span id="Online">@Model.Online%</span>
                        </div>
                    </div>
                </div>

                <div class="invoices">

                    <span>Invoices</span>
                    <div class="added">
                        <span>Added</span>
                        <span id="InvoicesAdded">@Model.InvoicesAdded</span>
                    </div>

                    <div class="approved">
                        <span>Processed</span>
                        <span id="InvoicesApproved">@Model.InvoicesApproved</span>
                    </div>

                </div>
                <div class="invoices consentCount">

                    <span>Consent Form</span>
                    <div class="added signed">
                        <span>Signed</span>
                        <span id="SignedCount">@Model.SignedCount</span>
                    </div>

                    <div class="approved unsigned">
                        <span>Unsigned</span>
                        <span id="UnSignedCount">@Model.UnSignedCount</span>
                    </div>

                </div>

            </div>
        </div>



        <div class="graphContainer">
            <div class="graphInnerContainer">
                <span id="graphtitle">Daily Sales Graph</span>
                <div class="totals">
                    <span id="graphTotal"></span>
                    <div class="total-values" data-toolTip="totalsData">
                        <div class="StoreValues" id="dvTotalStore">
                        </div>
                        <div class="DepartmentValues" id="dvTotalDepartment">
                        </div>
                    </div>
                </div>
                <div class="graphOptions">
                    <input type="radio" id="sales" name='radio' value="1" detail="Daily Sales Graph" class="clsRadio" checked="checked">
                    <label for="sales">Sales</label><br>
                    <input type="radio" id="customers" name="radio" value="2" detail="Daily Customer Count Graph" class="clsRadio">
                    <label for="customers">Customer Count</label><br>
                    <input type="radio" id="averageSales" name="radio" detail="Daily Average Sale Graph" value="3" class="clsRadio">
                    <label for="averageSales">Average Sale</label>
                </div>

            </div>
            <div class="graphPlaceHolder">
                <div id="loading1" class="loaderdetail">
                    <img src="~/Content/Admin/images/ZZ5H.gif" class="LoaderImage" />
                </div>
                <canvas id="bar-chartcanvas"></canvas>

            </div>
            <div class="refineMenu"><input type="checkbox"></div>
            <div class=refineContainer>
                <h2>Stores</h2>
                <div class="storeList">
                    @if (Model.StoreList != null)
                    {
                        foreach (var item in Model.StoreList)
                        {

                            <li><input type="checkbox" id="@item.Id" detail="Daily Sales Graph - Stores" name="dailychartstores" value="@item.Id" class="clsdailychartstores"><label for="@item.Id">@item.Text</label></li>
                        }
                    }
                </div>
                <h2>Departments</h2>
                <div class="departmentList">
                    @if (Model.DepartmentList !=null)
                    {
                        foreach (var item in Model.DepartmentList)
                        {
                            <li><input type="checkbox" id="@item.Id" detail="Daily Sales Graph - Departments" name="dailychartdepartments" value="@item.Text" class="clsdailychartdepartments"><label for="@item.Id">@item.Text</label></li>
                        }
                    }
                </div>
            </div>
        </div>


        <div class="graphContainer">
            <div class="graphInnerContainer">

                <span>Key Ratios Charts</span>
                <div class="totals">
                    <span id="graphTotal2"></span>
                    <div class="total-values" data-toolTip="totalsData">
                        <div class="DepartmentValues" id="dvTotalStore2">

                        </div>
                        <div class="DepartmentValues" id="dvTotalDepartment2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="graphPlaceHolder small">
                <div id="loading2" class="loaderdetail">
                    <img src="~/Content/Admin/images/ZZ5H.gif" class="LoaderImage" />
                </div>
                <div class="pie-chart-holder">

                    <div class="pie-chart">
                        <span class="pieChartTitle">COGS Ratio %</span>

                        <div>
                            <div>
                                <span id="PurchaseToSales"></span>
                                <span id="PurchaseToSales2" style="display:none"></span>
                            </div>
                            <span id="Doughnut">
                                <canvas id="bar-chartcanvasDoughnut"></canvas>
                            </span>
                        </div>
                    </div>
                    <div class="pie-chart">
                        <span class="pieChartTitle">Payroll Ratio %</span>

                        <div>

                            <div>
                                <span id="PayrollToToSales"></span>
                                <span id="PayrollToToSales2" style="display:none"></span>
                            </div>
                            <span id="Doughnut2">
                                <canvas id="bar-chartcanvasDoughnut2"></canvas>
                            </span>
                        </div>
                    </div>
                    <div class="expenses-list">
                        <div class="expensesTitle">Expenses</div>
                        <ul>
                            <li><span id="spExterminator">Exterminator</span><span id="spvExterminator">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spManagement">Management fees</span><span id="spvManagement">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spOffice">Office Expenses</span><span id="spvOffice">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spProduce">Produce Buyer</span><span id="spvProduce">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spDelivery">Delivery Expense</span><span id="spvDelivery">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spRepairs">Repairs and Maintenance</span><span id="spvRepairs">$ 0.00 <b>0.00%</b></span></li>
                            <li><span id="spSupplies">Supplies</span><span id="spvSupplies">$ 0.00 <b>0.00%</b></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grossPayrollContainer">
                <div class="grossPayroll">
                    <span class="grossPayrollTitle"> % of Gross Payroll </span>
                    <div class="grossPayrollWidgetContainer">
                        <div><span>Regular Pay</span><span id="PayrollRegularPay">@Model.PayrollRegularPay%</span></div>
                        <div><span>Overtime</span><span id="PayrollOverTime">@Model.PayrollOverTime%</span></div>
                        <div><span>Sick Pay</span><span id="PayrollSickPay">@Model.PayrollSickPay%</span></div>
                        <div><span>Vacation</span><span id="PayrollVacation">@Model.PayrollVacation%</span></div>
                        <div><span>Salary</span><span id="PayrollSalary">@Model.PayrollSalary%</span></div>
                        <div><span>Holidays</span><span id="PayrollHolidays">@Model.PayrollHolidays%</span></div>
                        <div><span>Bonus</span><span id="PayrollBonus">@Model.PayrollBonus%</span></div>
                    </div>
                </div>


                <div class="grossPayroll">
                    <span class="grossPayrollTitle"> % of Sales </span>
                    <div class="grossPayrollWidgetContainer">
                        <div><span>Regular Pay</span><span id="SalesRegularPay">@Model.SalesRegularPay%</span></div>
                        <div><span>Overtime</span><span id="SalesOverTime">@Model.SalesOverTime%</span></div>
                        <div><span>Salary</span><span id="SalesSalary">@Model.SalesSalary%</span></div>
                        <div><span>Other Pay</span><span id="SalesOtherpay">@Model.SalesOtherpay%</span></div>


                    </div>
                </div>
            </div>
            <div class="refineMenu"><input type="checkbox"></div>
            <div class=refineContainer>

                <h2>Departments</h2>
                <div class="departmentList">
                    @foreach (var item in Model.DepartmentList)
                    {
                        <li><input type="checkbox" id="@item.Id" name="dailychartdepartments" detail="Key Ratios Charts - Departments" value="@item.Text" class="clsdailychartdepartments1"><label for="@item.Id">@item.Text</label></li>
                    }
                </div>
            </div>
        </div>

        <div class="graphContainer">
            <div class="graphInnerContainer">
                <span>Sales and Hours worked</span>
            </div>
            <div class="graphPlaceHolder small">
                <div id="loading3" class="loaderdetail">
                    <img src="~/Content/Admin/images/ZZ5H.gif" class="LoaderImage" />
                </div>
                <canvas id="bar-chartcanvas2"></canvas>
            </div>

            <div class="departmentWiseSales">
                <span>Sales per 1 Hour worked</span>
                <div class="departmentWiseSalesWidgets">

                </div>
            </div>
            <div class="refineMenu"><input type="checkbox"></div>
            <div class=refineContainer>

                <h2>Departments</h2>
                <div class="departmentList">

                    @foreach (var item in Model.PayrollDepartmentList)
                    {
                        <li><input type="checkbox" id="@item.Id" detail="Sales and Hours worked - Departments" name="hourlychartdepartments" value="@item.Text" class="clshourlychartdepartments"><label for="@item.Id">@item.Text</label></li>
                    }

                </div>
            </div>
        </div>

    </div>

    </div>


</body>
<script>


    $(document).ready(function () {
        $("#loading1").show();
        $("#loading2").show();
        $("#loading3").show();
        var startdate = '@ViewBag.Startdate';
        $('#DailyChartDate').val(startdate);

        $('#DailyChartDate').datetimepicker({
            format: 'MM-DD-YYYY',
            useCurrent: true
        });

        $('#DailyChartDate').attr('autocomplete', 'off');

        GetWeeklyData($('#WeeklyPeriodId').val());
        GetWeeklyComparisionData();
        GetWeeklyComparisionDataCCount();
        GetWeeklyComparisionDataAverage();
        GetWeeklyDoughnutChart();
        WeeklyExpenseData();
        $(".drpcls option").each(function () {
            if ($(this).val() == "0") {
                $(this).attr('disabled', 'disabled');
            }
        });
         if ('@Session["storeid"]' == '0') {
            $('.clshide').show();
        }
        else {
            $('.clshide').hide();
        }
    });

    $(function () {
        $('#DailyChartDate').datetimepicker({
            format: 'MM-DD-YYYY',
            useCurrent: true
        });

        $('#WeeklyPeriodId').on('change', function (e) {
            $("#loading1").show();
            $("#loading2").show();
            $("#loading3").show();
            var WeeklyPeriodId = $(this).val();
            GetWeeklyData(WeeklyPeriodId);
            GetWeeklyComparisionData();
            GetWeeklyComparisionDataCCount();
            GetWeeklyComparisionDataAverage();
            GetWeeklyDoughnutChart();
            WeeklyExpenseData();
            $(".other-deposite").hide();
        });
    });
    //clsdailychartstores
    function nFormatter(num, digits) {
        const lookup = [
            { value: 1, symbol: "" },
            { value: 1e3, symbol: "k" },
            { value: 1e6, symbol: "M" },
            { value: 1e9, symbol: "B" },
            { value: 1e12, symbol: "T" },
            { value: 1e15, symbol: "P" },
            { value: 1e18, symbol: "E" }
        ];
        const rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
        var item = lookup.slice().reverse().find(function (item) {
            return num >= item.value;
        });
        return item ? (num / item.value).toFixed(digits).replace(rx, "$1") + item.symbol : "0.00";
    }

    function GetWeeklyData(WeeklyPeriodId) {
        var StateId = $('#StateId').val();
      $.ajax({
          method:"GET",
          url: '@AdminSiteConfiguration.GetURL()/dashboard/getDashboardWeeklyData',
          data: { WeeklyPeriodId: WeeklyPeriodId, StateId: StateId},
            beforeSend: function () {
                //Loader(1);
            },
          success: function (response) {
              checkAllStoreList();
              GetChartDetails();
              GetHourlyChartDetails();
              GetSalesOneHourWorkedData(WeeklyPeriodId);
              GetPayrollSalesBoxesData();
              $("#AllVoidsAmt").text("$ " + nFormatter(response.AllVoidsAmt, 2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#ItemCorrectsAmt").text("$ " + nFormatter(response.ItemCorrectsAmt, 2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#ItemReturnsAmt").text("$ " + nFormatter(response.ItemReturnsAmt, 2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

              $("#AllVoids").text(response.AllVoids.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
              $("#ItemCorrects").text(response.ItemCorrects.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
              $("#ItemReturns").text(response.ItemReturns.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
              $("#CashPayout").text("$ " + response.CashPayout.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              if (response.Over < 0) {
                  $("#Over").css('color', 'red');
              } else if (response.Over > 0) {
                  $("#Over").css('color', 'green');
              }
              else {
                  $("#Over").css('color', 'gray');
              }
              $("#Over").text("$ " + response.Over.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

              $("#TotalSalesCurrentDay").text("$ " + response.TotalSalesCurrentDay.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#SalesGrowth").text(response.SalesGrowth);
              $("#CustomerCountCurrentDay").text(response.CustomerCountCurrentDay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
              $("#CustomerCountGrowth").text(response.CustomerCountGrowth);
              $("#AverageSaleCurrentDay").text("$ " + response.AverageSaleCurrentDay.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#AveragesalesGrowth").text(response.AveragesalesGrowth);
              $("#TotalSalesLastWeek").text("$ " + response.TotalSalesLastWeek.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#CustomerCountLastWeek").text(response.CustomerCountLastWeek.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
              $("#AverageSalesLastWeek").text("$ " + response.AverageSalesLastWeek.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#Offline").text(response.Offline + "%");
              $("#Online").text(response.Online + "%");
              $("#InvoicesAdded").text(response.InvoicesAdded);
              $("#InvoicesApproved").text(response.InvoicesApproved);
              $("#SignedCount").text(response.SignedCount);
              $("#UnSignedCount").text(response.UnSignedCount);
            }
        });
    }


    function GetSalesOneHourWorkedData(WeeklyPeriodId) {
        var Departments = "";
        $(".clshourlychartdepartments").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });

        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }
        var StateId = $('#StateId').val();
          $.ajax({
          method:"GET",
              url: '@AdminSiteConfiguration.GetURL()/dashboard/GetSalesOneHourWorkedDataWeekly',
              data: { WeeklyPeriodId: WeeklyPeriodId, department: Departments, StateId: StateId},
            beforeSend: function () {
            },
          success: function (response) {
              if (response.length > 0) {
                  $(".departmentWiseSalesWidgets").html("");
                  var htm = "";
                  $.each(response, function (j, data) {
                      htm += "<div class='clsstr'><span>" + data.StoreName+"</span><span>$ " + data.Amount+"</span></div>";
                  })
                  $(htm).appendTo($('.departmentWiseSalesWidgets'));
              }
            }
        });
    }


    function GetWeeklySalesTotalDetailsdata() {
        var checkedId = "";
        var radioId = "1";
        var Departments = "";
        $(".clsdailychartstores").each(function (index, obj) {

            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });

        $(".clsRadio").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();

            }
        });

        $(".clsdailychartdepartments").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });

        checkedId = checkedId.slice(0, -1);

        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }

        var div = document.getElementsByClassName("clsTotalDetail");
        var Length = div.length;
        for (var i = 0; i < Length; i++) {
            div[0].remove();
        }
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var StateId = $('#StateId').val();
          $.ajax({
          method:"GET",
              url: '@AdminSiteConfiguration.GetURL()/dashboard/GetWeeklySalesTotalDetailsdata',
              data: { StoreId: checkedId, Department: Departments, Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId },
            beforeSend: function () {
            },
          success: function (response) {
              if (response.length > 0) {
                  var htm = "";
                  var htmDept = "";

                  htm += "<h2 class='clsTotalDetail'>Stores</h2>";
                  htmDept += "<h2 class='clsTotalDetail'>Departments</h2>";
                  htmDept += "<ul class='clsTotalDetail'>";
                  var CurSign = "";
                  var Decimalval = 0;
                  if (radioId != "2") {
                      CurSign = "$ ";
                      Decimalval = 2;
                  }
                  $.each(response, function (j, data) {
                      if (data.Type == "S") {

                          if (data.StoreId == '1') {
                              htm += "<span class='store74-84 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          } else if (data.StoreId == '5') {
                              htm += "<span class='store2589 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '6') {
                              htm += "<span class='store14Street clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '2') {
                              htm += "<span class='storeMayWood clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '7') {
                              htm += "<span class='store2840 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '3') {
                              htm += "<span class='store1407 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '4') {
                              htm += "<span class='store180 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                          else if (data.StoreId == '9') {
                              htm += "<span class='store170 clsTotalDetail'>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span>";
                          }
                      } else if (data.Type == "D") {
                          htmDept += "<li><span > " + data.StoreId + "</span> <span>" + CurSign + " " + data.Amount.toFixed(Decimalval).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span></li>";
                      }
                  })
                  htmDept += "</ul>";
                  $(htm).appendTo($('#dvTotalStore'));
                  $(htmDept).appendTo($('#dvTotalDepartment'));
              }
              GetWeeklySalesDailyTotalDetailsdata();
            }
        });
    }
    function checkAllStore() {
            $(".clsdailychartstores").each(function (index, obj) {
                    $(this).prop('checked', true);
            });
    }
      function GetWeeklySalesDailyTotalDetailsdata() {
        var checkedId = "";
        var Departments = "";


        $(".clsdailychartdepartments1").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });

        checkedId = checkedId.slice(0, -1);

        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }

        var div = document.getElementsByClassName("clsTotalDetail1");
        var Length = div.length;
        for (var i = 0; i < Length; i++) {
            div[0].remove();
        }
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
          var StateId = $('#StateId').val();
          $.ajax({
          method:"GET",
              url: '@AdminSiteConfiguration.GetURL()/dashboard/GetWeeklySalesDailyTotalDetailsdata',
              data: { StoreId: 0, Department: Departments, Type: 4, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId},
            beforeSend: function () {
            },
          success: function (response) {
              if (response.length > 0) {
                  var htm = "";
                  var htmDept = "";

                  htm += "<h2 class='clsTotalDetail1'>Purchase</h2>";
                  htm += "<ul class='clsTotalDetail1'>";
                  htmDept += "<h2 class='clsTotalDetail1'>Payroll</h2>";
                  htmDept += "<ul class='clsTotalDetail1'>";
                  var CurSign = "";
                  var Decimalval = 0;

                  $.each(response, function (j, data) {
                      if (data.Type == "C") {

                          htm += "<li><span > " + data.StoreId + "</span> <span>" +data.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span></li>";
                      } else if (data.Type == "P") {
                          htmDept += "<li><span > " + data.StoreId + "</span> <span>" + data.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "</span></li>";
                      }
                  })
                  htmDept += "</ul>";
                  htm += "</ul>";
                  $(htm).appendTo($('#dvTotalStore2'));
                  $(htmDept).appendTo($('#dvTotalDepartment2'));
              }
            }
        });
    }

    $(".clsdailychartstores").change(function () {
        if ($(this).is(':checked') == true) {
            if (this.value == "0") {

                $(".clsdailychartstores").each(function (index, obj) {
                    if (this.value != "0") {
                        $(this).prop('checked', true);
                    } else {
                        $(this).prop('checked', true);
                    }
                });
            }
            else {
                $(".clsdailychartstores").each(function (index, obj) {
                    if (this.value == "0") {
                        $(this).prop('checked', false);
                    }
                });
            }
            GetChartDetails();
        }
        else {
            if (this.value == "0") {

                $(".clsdailychartstores").each(function (index, obj) {
                    if (this.value != "0") {
                        $(this).prop('checked', false);
                    } else {
                        $(this).prop('checked', false);
                    }
                });
            }
            else {
                $(".clsdailychartstores").each(function (index, obj) {
                    if (this.value == "0") {
                        $(this).prop('checked', false);
                    }
                });
            }
            GetChartDetails();
        }

    })
    $(".clsRadio").change(function () {
        GetChartDetails();

    })
    $(".clsdailychartdepartments").change(function () {
        GetChartDetails();
    })
    $(".clsdailychartdepartments1").change(function () {
        GetWeeklyDoughnutChart();
        GetWeeklySalesDailyTotalDetailsdata();
        GetPayrollSalesBoxesData();

    })

    $(".clshourlychartdepartments").change(function () {

        GetHourlyChartDetails();
        GetSalesOneHourWorkedData($('#WeeklyPeriodId').val());

    })

    var charts;
    function GetChartDetails() {
        $("#loading1").show();
        GetWeeklySalesTotalDetailsdata();
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var checkedId = "";
        var radioId = "1";
        var Departments = "";

        $(".clsdailychartstores").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });

        $(".clsRadio").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();
            }
        });

        $(".clsdailychartdepartments").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });
        if (radioId == "1") {
            $('#graphtitle').text("Daily Sales Graph");
            $("input.clsdailychartdepartments").removeAttr("disabled");
            $("input.clsdailychartstores").attr("detail", "Daily Sales Graph - Stores");
            $("input.clsdailychartdepartments").attr("detail", "Daily Sales Graph - Departments");
        } else if (radioId == "2") {
            $('#graphtitle').text("Daily Customer Count Graph");
            $("input.clsdailychartdepartments").attr("disabled", true);
            $("input.clsdailychartstores").attr("detail", "Daily Customer Count Graph - Stores");
            $("input.clsdailychartdepartments").attr("detail", "Daily Customer Count Graph - Departments");
        } else {
            $('#graphtitle').text("Daily Average Sale Graph");
            $("input.clsdailychartdepartments").removeAttr("disabled");
            $("input.clsdailychartstores").attr("detail", "Daily Average Sale Graph - Stores");
            $("input.clsdailychartdepartments").attr("detail", "Daily Average Sale Graph - Departments");
        }
        checkedId = checkedId.slice(0, -1);
        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }

        var ctx = $("#bar-chartcanvas");

        var options = {
            maintainAspectRatio: false,
            responsive:true,
            title: {
                display: true,
                position: "top",
                text: "",
                fontSize: 18,
                fontColor: "#000"
            },
            tooltips: {
                callbacks: {
                    title: function (t, d) {
                        return d.labels[t[0].index];
                    },
                    label: function (context, lbldata) {
                        var arr = [];
                        var StoreCode = lbldata.datasets[context.datasetIndex].code;
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: '/Dashboard/getToolTipData',
                            data: { StoreId: StoreCode, Department: Departments, Type: radioId, Date: context.xLabel, Mode: "W" },
                            success: function (chData) {
                                aa = chData;
                                var strDept = "";
                                $.each(aa, function (index, obje) {
                                    strDept = "";
                                    if (radioId != "2") {
                                        strDept = obje.Department + " - " + " $ " + obje.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    } else {
                                        strDept = obje.Department + " - " + obje.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        strDept = obje.Department + " : " + obje.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    }
                                    arr.push(strDept);
                                })
                            }
                        });

                        //arr.push("----------------------");
                        if (radioId != "2") {
                            arr.push("Total : " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.yLabel));
                        } else {
                            arr.push("Total : " + context.yLabel.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
                        }
                        return arr;
                    }
                }
            },
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        callback: function (value, index, values) {
                            if (parseInt(value) >= 1000) {
                                if (radioId != "2") {
                                    return '$ ' + value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                } else {
									return value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00","") ;
                                }
                            } else {
                                if (radioId != "2") {
                                    return '$ ' + value.toFixed(2);
                                } else {
                                    return value.toFixed(0);
                                }
                            }
                        }
                    },
                }],
            }
        };
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        if (chart2) {
            chart2.destroy();
        }
        if (charts) {
            charts.destroy();
        }
        var StateId = $('#StateId').val();
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetWeeklyChartData',
            data: { StoreId: checkedId, Department: Departments, Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId },
            success: function (chData) {
                var aData = chData;
                var aLabels = aData["Labels"];
                var aDatasets1 = aData["DatsetLists"];
                var Total = aData["Total"];
                if (radioId == "3") {
                    $(".totals").hide();
                }
                else if (radioId == "1") {
                    $(".totals").show();
                    $("#graphTotal").text("$ " + Total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                }
                else {
                    $(".totals").show();
                    $("#graphTotal").text(Total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));
                }

                var data = {
                    labels: aLabels,
                    datasets: aDatasets1,
                };

                if (charts != undefined)
                    charts.destroy();

                charts = new Chart(ctx, {
                    type: "line",
                    data: data,
                    options: options
                });
                $("#loading1").hide();
            },
             error: function () {
                 $("#loading1").hide();
            },
        });
        var chartdatabar;
        var ctx3 = $("#bar-chartcanvasbar");
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetChartDataBar',
            data: { StoreId: checkedId, Department: Departments, Type: radioId, Date: Date, StateId: StateId},
            success: function (chData) {

                var aData = chData;
                var aLabels = aData["Labels"];
                var aDatasets1 = aData["DatsetLists"];
                var data = {
                    labels: aLabels,
                    datasets: aDatasets1,
                };

                if (chartdatabar != undefined)
                    chartdatabar.destroy();

                chartdatabar = new Chart(ctx3, {
                    type: "bar",
                    data: data,
                });
            }
        });
    };

    //Doughnut Chart Data
    function GetWeeklyDoughnutChart() {
        $("#loading2").show();
        $("#Doughnut").html("");
        $("#Doughnut").append('<canvas id="bar-chartcanvasDoughnut"></canvas>');
        $("#Doughnut2").html("");
        $("#Doughnut2").append('<canvas id="bar-chartcanvasDoughnut2"></canvas>');
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var Departments = "";
        var checkedId = "1";
        var StateId = $('#StateId').val();
        $(".clsdailychartdepartments1").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });
        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }


        var ctx1 = $("#bar-chartcanvasDoughnut");
        var ctxv2 = $("#bar-chartcanvasDoughnut2");
        var ctxv3 = $("#bar-chartcanvasDoughnut3");
        var chart;
        var chart2;

        var options1 = {
            responsive: true,
            maintainAspectRatio:true,
            title: {
                display: true,
                position: "top",
                text: "",
                fontSize: 18,
                fontColor: "#000"
            },
            legend: {
                display: false,
            },
        };
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetChartDataDoughnut',
            data: { StoreId: checkedId, Department: Departments, WeekNo: WeeklyPeriodId, Type: 1, StateId: StateId},
            success: function (chData) {
                var aData = chData;
                $("#PurchaseToSales").text(aData["Labels"][0] + "%");
                $("#PurchaseToSales2").text(aData["Labels"][2] + "%");

                var aLabels = aData["Labels"];
                var aDatasets1 = aData["DatsetListDoughnutLists"];
                var data = {
                    labels: aLabels,
                    datasets: aDatasets1,
                };
                console.log(data);

                if (chart != undefined)
                    chart.destroy();

                chart = new Chart(ctx1, {
                    type: "doughnut",
                    data: data,
                    options: options1
                });

                chart.data.labels.splice(2, 1);
                chart.data.datasets[0].data.splice(2, 1);
                chart.update();
            },
            error: function () {
                $("#loading2").hide();
            },
        });


        $.ajax({

            type: "POST",
            url: '/Dashboard/GetChartDataDoughnut',
            data: { StoreId: checkedId, Department: Departments, WeekNo: WeeklyPeriodId, Type: 2, StateId: StateId},
            success: function (chData) {
                var aData = chData;
                $("#PayrollToToSales").text(aData["Labels"][0] + "%");
                $("#PayrollToToSales2").text(aData["Labels"][2] + "%");

                var aLabels = aData["Labels"];
                var aDatasets1 = aData["DatsetListDoughnutLists"];
                var data = {
                    labels: aLabels,
                    datasets: aDatasets1,
                };

                if (chart2 != undefined)
                    chart2.destroy();

                chart2 = new Chart(ctxv2, {
                    type: "doughnut",
                    data: data,
                    options: options1
                });

                chart2.data.labels.splice(2, 1);
                chart2.data.datasets[0].data.splice(2, 1);
                chart2.update();
                $("#loading2").hide();
            },
            error: function () {
                $("#loading2").hide();
            },
        });
    }
    var chart2;
    function GetWeeklyComparisionBarChart() {

        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var checkedId = "";
        var radioId = "5";
        var StateId = $('#StateId').val();
        $(".clsdailychartstores").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });
        $(".clsRadioWC").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();
            }
        });
        checkedId = checkedId.slice(0, -1);
        var options = {
            maintainAspectRatio: false,
            responsive:true,
            title: {
                display: true,
                position: "top",
                text: "",
                fontSize: 18,
                fontColor: "#000"
            },
            legend: {
                display: true,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        callback: function (value, index, values) {
                            if (parseInt(value) >= 1000) {
                                if (radioId != "6") {
                                    return '$ ' + value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                } else {
                                    return value.toFixed(0).toString();
                                }
                            } else {
                                if (radioId != "6") {
                                    return '$ ' + value.toFixed(2);
                                } else {
                                    return value.toFixed(0);
                                }
                            }
                        }
                    },
                }]
            }
        };

        //Bar Chart Data

        var ctxH2 = $("#bar-chartcanvasH2");

        if (chart2) {
            chart2.destroy();
        }
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetWeeklyBarChartData',
            data: { StoreId: checkedId, Department: "ALL", Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId},
            success: function (chData2) {
                var aData = chData2;
                var aLabels = aData["Labels"];
                var aDatasets1 = aData["DatsetLists"];
                var data = {
                    labels: aLabels,
                    datasets: aDatasets1,
                };

                if (chart2 != undefined)
                    chart2.destroy();

                chart2 = new Chart(ctxH2, {
                    type: "bar",
                    data: data,
                    options: options
                });
            }
        });
        //---------------------------------

    }

    function GetWeeklyComparisionData() {
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var checkedId = "";
        var radioId = "5";
        var StateId = $('#StateId').val();
        $(".clsdailychartstores").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });
        $(".clsRadioWC").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();
            }
        });
        checkedId = checkedId.slice(0, -1);
        var Sign = "$ ";
        if (radioId == "6") {
            Sign = "";
        }
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetWeeklyComparisionData',
            data: { StoreId: checkedId, Department: "ALL", Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId},

            success: function (wcdata) {
                $("#WCSalesAmt").text(Sign + wcdata.WCCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

                $("#WCLastWeekAmt").text(Sign + wcdata.WCLastWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCSameWeekLastYearAmt").text(Sign + wcdata.WCLYearCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCCurrentYearAvergaeAmt").text(Sign + wcdata.WCAWeekThisYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCLastYearAvergaeAmt").text(Sign + wcdata.WCAWeekLastYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

                $("#WCLastWeekPer").text(wcdata.WCCurWeekPer.toFixed(2) + "%");
                $("#WCSalesSameWKLYearPer").text(wcdata.WCLYearCurWeekPer.toFixed(2) + "%");
                $("#WCSalesLastYearPer").text(wcdata.WCAWeekLastYearPer.toFixed(2) + "%");
                $("#WCSalesCurYearPer").text(Sign + wcdata.WCAWeekThisYearPer.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

                if (wcdata.WCCurWeekPer < 0) {
                    $("#clsvalup0").removeClass('valueUpCell');
                    $("#clsvalup0").addClass('valueDownCell');
                } else {
                    $("#clsvalup0").removeClass('valueDownCell');
                    $("#clsvalup0").addClass('valueUpCell');
                }


                if (wcdata.WCLYearCurWeekPer < 0) {
                    $("#clsvalup1").removeClass('valueUpCell');
                    $("#clsvalup1").addClass('valueDownCell');
                } else {
                    $("#clsvalup1").removeClass('valueDownCell');
                    $("#clsvalup1").addClass('valueUpCell');
                }

                if (wcdata.WCAWeekThisYearPer < 0) {
                    $("#clsvalup2").removeClass('valueUpCell');
                    $("#clsvalup2").addClass('valueDownCell');
                } else {
                    $("#clsvalup2").removeClass('valueDownCell');
                    $("#clsvalup2").addClass('valueUpCell');
                }
                if (wcdata.WCAWeekLastYearPer < 0) {
                    $("#clsvalup7").removeClass('valueUpCell');
                    $("#clsvalup7").addClass('valueDownCell');
                } else {
                    $("#clsvalup7").removeClass('valueDownCell');
                    $("#clsvalup7").addClass('valueUpCell');
                }

            }
        });
        //---------------------------------

    }

    function GetWeeklyComparisionDataCCount() {
        var StateId = $('#StateId').val();
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var checkedId = "";
        var radioId = "6";

        $(".clsdailychartstores").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });
        $(".clsRadioWC").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();
            }
        });
        checkedId = checkedId.slice(0, -1);
        var Sign = "$ ";
        if (radioId == "6") {
            Sign = "";
        }
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetWeeklyComparisionData',
            data: { StoreId: checkedId, Department: "ALL", Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId },
            success: function (wcdata) {
                $("#WCCCount").text(Sign + wcdata.WCCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));

                $("#WCCCountLastWeekAmt").text(Sign + wcdata.WCLastWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));
                $("#WCCCountSameWeekLastYearAmt").text(Sign + wcdata.WCLYearCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));
                $("#WCCCountCurrentYearAvergaeAmt").text(Sign + wcdata.WCAWeekThisYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));
                $("#WCCCountLastYearAvergaeAmt").text(Sign + wcdata.WCAWeekLastYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,").replace(".00", ""));

                $("#WCCCountLastWeekPer").text(wcdata.WCCurWeekPer.toFixed(2) + "%");
                $("#WCCCountSameWKLYearPer").text(wcdata.WCLYearCurWeekPer.toFixed(2) + "%");
                $("#WCCCountCurYearPer").text(wcdata.WCAWeekThisYearPer.toFixed(2) + "%");
                $("#WCCCountLastYearPer").text(wcdata.WCAWeekLastYearPer.toFixed(2) + "%");

                if (wcdata.WCCurWeekPer < 0) {
                    $("#clsvalup01").removeClass('valueUpCell');
                    $("#clsvalup01").addClass('valueDownCell');
                } else {
                    $("#clsvalup01").removeClass('valueDownCell');
                    $("#clsvalup01").addClass('valueUpCell');
                }

                if (wcdata.WCLYearCurWeekPer < 0) {
                    $("#clsvalup3").removeClass('valueUpCell');
                    $("#clsvalup3").addClass('valueDownCell');
                } else {
                    $("#clsvalup3").removeClass('valueDownCell');
                    $("#clsvalup3").addClass('valueUpCell');
                }

                if (wcdata.WCAWeekThisYearPer < 0) {
                    $("#clsvalup4").removeClass('valueUpCell');
                    $("#clsvalup4").addClass('valueDownCell');
                } else {
                    $("#clsvalup4").removeClass('valueDownCell');
                    $("#clsvalup4").addClass('valueUpCell');
                }
                if (wcdata.WCAWeekLastYearPer < 0) {
                    $("#clsvalup8").removeClass('valueUpCell');
                    $("#clsvalup8").addClass('valueDownCell');
                } else {
                    $("#clsvalup8").removeClass('valueDownCell');
                    $("#clsvalup8").addClass('valueUpCell');
                }
            }
        });
        //---------------------------------

    }
    //WCAverageAmt, WCAverageSameWKLYearPer, WCAverageCurYearPer
    function GetWeeklyComparisionDataAverage() {
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var checkedId = "";
        var radioId = "7";
        var StateId = $('#StateId').val();
        $(".clsdailychartstores").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                checkedId += $(obj).val() + ",";
            }
        });
        $(".clsRadioWC").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                radioId = $(obj).val();
            }
        });
        checkedId = checkedId.slice(0, -1);
        var Sign = "$ ";
        if (radioId == "6") {
            Sign = "";
        }
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetWeeklyComparisionData',
            data: { StoreId: checkedId, Department: "ALL", Type: radioId, WeeklyPeriodId: WeeklyPeriodId, StateId: StateId },

            success: function (wcdata) {
                $("#WCAverageAmt").text(Sign + wcdata.WCCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));

                $("#WCAverageLastWeekAmt").text(Sign + wcdata.WCLastWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCAverageSameWKLYearAmt").text(Sign + wcdata.WCLYearCurWeekAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCAverageCurYearAmt").text(Sign + wcdata.WCAWeekThisYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,"));
                $("#WCAverageLastYearAmt").text(Sign + wcdata.WCAWeekLastYearAmt.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,")); // LAst Year

                $("#WCAverageLastWeekPer").text(wcdata.WCCurWeekPer.toFixed(2) + "%");
                $("#WCAverageSameWKLYearPer").text(wcdata.WCLYearCurWeekPer.toFixed(2) + "%");
                $("#WCAverageCurYearPer").text(wcdata.WCAWeekThisYearPer.toFixed(2) + "%");
                $("#WCAverageLastYearPer").text(wcdata.WCAWeekLastYearPer.toFixed(2) + "%");

                if (wcdata.WCCurWeekPer < 0) {
                    $("#clsvalupAvg0").removeClass('valueUpCell');
                    $("#clsvalupAvg0").addClass('valueDownCell');
                } else {
                    $("#clsvalupAvg0").removeClass('valueDownCell');
                    $("#clsvalupAvg0").addClass('valueUpCell');
                }

                if (wcdata.WCLYearCurWeekPer < 0) {
                    $("#clsvalup5").removeClass('valueUpCell');
                    $("#clsvalup5").addClass('valueDownCell');
                } else {
                    $("#clsvalup5").removeClass('valueDownCell');
                    $("#clsvalup5").addClass('valueUpCell');
                }

                if (wcdata.WCAWeekThisYearPer < 0) {
                    $("#clsvalup6").removeClass('valueUpCell');
                    $("#clsvalup6").addClass('valueDownCell');
                } else {
                    $("#clsvalup6").removeClass('valueDownCell');
                    $("#clsvalup6").addClass('valueUpCell');
                }

                if (wcdata.WCAWeekLastYearPer < 0) {
                    $("#clsvalup9").removeClass('valueUpCell');
                    $("#clsvalup9").addClass('valueDownCell');
                } else {
                    $("#clsvalup9").removeClass('valueDownCell');
                    $("#clsvalup9").addClass('valueUpCell');
                }
            }
        });
        //---------------------------------
    }



    function GetHourlyChartDetails() {

        $("#loading3").show();
        var checkedId = "";
        var radioId = "1";
        var Departments = "";

        $(".clshourlychartdepartments").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });

        checkedId = checkedId.slice(0, -1);
        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }

        var ctx = $("#bar-chartcanvas2");

        var options = {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Multicolor Bubble Graph'
                }
            },

            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            if (parseInt(value) >= 1000) {
                                return '$ ' + value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            } else {
                                return '$ ' + value.toFixed(2);
                            }
                        }
                    }
                }],
                xAxes: [{
                    type: 'linear',
                    position: 'bottom',
                    ticks: {
                        beginAtZero: true,
                        min: 0
                    }
                }]
            }
        };
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var StateId = $('#StateId').val();
        var HourlyChart;
        $.ajax({

            type: "POST",
            url: '/Dashboard/GetHourlyChartDataWeek',
            data: { StoreId: checkedId, Department: Departments, Type: "4", WeeklyPeriodId: WeeklyPeriodId, StateId: StateId },
            success: function (chData) {

                //var datasets = "";
                var aData = chData;
                var aLabels = aData["Labels"];
                var aDatasets1 = aData["HourlyDatsetList"];
                var data = {
                    labels: aLabels[0],
                    datasets: aDatasets1,
                };

                var options = {

                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                    pointStyle: 'circle',
                    radius: 7,
                    borderWidth: 1.2,
                    showLines: false,
                     legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            title: function (t, d) {
                                return "Payroll Hours : " + t[0].xLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            },
                            label: function (context, lbldata) {
                                var arr = [];
                                var StoreCode = lbldata.datasets[context.datasetIndex].label;
                                $.ajax({
                                    async: false,
                                    type: "POST",
                                    url: '/Dashboard/getWeeklyHourlyChartToolTipData',
                                    data: { StoreId: StoreCode, Department: Departments, Type: "5", WeeklyPeriodId: WeeklyPeriodId },
                                    success: function (chData) {
                                        aa = chData;
                                        var strDept = "";
                                        $.each(aa, function (index, obje) {
                                            strDept = "";
                                            if (obje.Department != "") {
                                                strDept = obje.Department + " Sales :  $ " + obje.Amount.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                                                arr.push(strDept);
                                            }
                                        })
                                    }
                                });

                                //arr.push("----------------------");
                                arr.push("Total Sales: $ " + context.yLabel.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(".00", ""));
                                return arr;
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value, index, values) {
                                    if (parseInt(value) >= 1000) {
                                        return '$ ' + value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    } else {
                                        return '$ ' + value.toFixed(2);
                                    }
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                callback: function (value, index, values) {
                                    if (parseInt(value) >= 1000) {
                                        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    } else {
                                        return value;
                                    }
                                }
                            }
                        }]
                    }
                };
                var ctxscatter = document.getElementById("bar-chartcanvas2").getContext('2d');
                // End Defining data

                if (HourlyChart != undefined)
                    HourlyChart.destroy();

                HourlyChart = new Chart(ctxscatter, {

                    type: 'scatter',
                    data: data,
                    options: options
                });
                $("#loading3").hide();
            },
            error: function () {
                $("#loading3").hide();
            },
        });
    };

    function closemodal() {
        $(".divIDClass").hide();
    }

    var HeaderStoreId = $("#HeaderStoreId option:selected").val();
    if (HeaderStoreId == "") {
        HeaderStoreId = "0";
    }
    $(".clsdailychartstores").each(function (index, obj) {
        var valu = $(obj).val();

        if (HeaderStoreId == valu) {

            $(obj).attr('checked', 'checked')
        }
        else {
            $(obj).attr('checked', false)
        }


    });

    $('#HeaderStoreId').on('change', function () {
        DisableOtherStoresWeekly();
    });

    // Call the disable function
    DisableOtherStoresWeekly();

    function GetPayrollSalesBoxesData() {
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var Departments = "";
        $(".clsdailychartdepartments1").each(function (index, obj) {
            if ($(obj).is(':checked') == true) {

                Departments += $(obj).val() + ",";
            }
        });
        if (Departments != "") {
            Departments = Departments.slice(0, -1);
        } else {
            Departments = "ALL";
        }
        var StateId = $('#StateId').val();
      $.ajax({
          method:"GET",
          url: '@AdminSiteConfiguration.GetURL()/dashboard/GetPayrollSalesBoxesData',
          data: { WeeklyPeriodId: WeeklyPeriodId, Department: Departments, StateId: StateId},
            beforeSend: function () {
            },
          success: function (response) {
              $("#PayrollOverTime").text(response.PayrollOverTime + "%");
              $("#PayrollSickPay").text(response.PayrollSickPay + "%");
              $("#PayrollVacation").text(response.PayrollVacation + "%");
              $("#PayrollHolidays").text(response.PayrollHolidays + "%");
              $("#PayrollBonus").text(response.PayrollBonus + "%");
              $("#PayrollRegularPay").text(response.PayrollRegularPay + "%");
              $("#SalesRegularPay").text(response.SalesRegularPay + "%");
              $("#SalesOverTime").text(response.SalesOverTime + "%");
              $("#SalesSalary").text(response.SalesSalary + "%");
              $("#SalesOtherpay").text(response.SalesOtherpay + "%");
            }
      });
    }
    function checkAllStoreList() {
        var HeaderStoreId = $("#HeaderStoreId option:selected").val();
        if (HeaderStoreId == "") {
            HeaderStoreId = "0";
        }
        if (HeaderStoreId == "0") {
            $(".clsdailychartstores").each(function (index, obj) {
                $(this).prop('checked', true);
            });
        }
    }

    function DisableOtherStoresWeekly() {
        var HeaderStoreId = $("#HeaderStoreId option:selected").val();

        if (HeaderStoreId != "" && HeaderStoreId != "0") {
            // A specific store is selected
            $(".clsdailychartstores").each(function (index, obj) {
                var valu = $(obj).val();

                if (HeaderStoreId != valu) {
                    // Disable other stores
                    $(obj).prop('disabled', true);
                    $(obj).parent('li').css('opacity', '0.5');
                    $(obj).parent('li').css('cursor', 'not-allowed');
                } else {
                    // Keep selected store enabled
                    $(obj).prop('disabled', false);
                    $(obj).parent('li').css('opacity', '1');
                    $(obj).parent('li').css('cursor', 'pointer');
                }
            });
        } else {
            // "ALL" is selected, enable all stores
            $(".clsdailychartstores").each(function (index, obj) {
                $(obj).prop('disabled', false);
                $(obj).parent('li').css('opacity', '1');
                $(obj).parent('li').css('cursor', 'pointer');
            });
        }
    }

    function GetStateWisedata() {
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();

        GetWeeklyData(WeeklyPeriodId);
        GetWeeklyComparisionData();
        GetWeeklyComparisionDataCCount();
        GetWeeklyComparisionDataAverage();
        GetWeeklyDoughnutChart();
        WeeklyExpenseData();
        //GetDatastatewise();

    }
    function GetDatastatewise() {

        var StateId = $('#StateId').val();
         $.ajax({
          method:"GET",
             url: '@AdminSiteConfiguration.GetURL()/dashboard/Weekly',
          data: {StateId: StateId },

             success: function (response) {

             }
             });
    }
    function WeeklyExpenseData() {
        var StateId = $('#StateId').val();
        var WeeklyPeriodId = $('#WeeklyPeriodId').val();
        var HeaderStoreId = $("#HeaderStoreId option:selected").val();
       $.ajax({
          method:"GET",
          url: '@AdminSiteConfiguration.GetURL()/dashboard/GetExpensesBoxesData',
           data: { WeeklyPeriodId: WeeklyPeriodId, StoreID: HeaderStoreId, StateId: StateId},
            beforeSend: function () {
            },
           success: function (response) {
              $("#spDelivery").text(response.spDelivery);
               $("#spvDelivery").text('$ ' + response.spvDelivery.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#spvDelivery").append(' '+'<b>'+ response.ExpDelivery+'</b>');

              $("#spOffice").text(response.spOffice);
               $("#spvOffice").text('$ ' + response.spvOffice.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#spvOffice").append(' ' + '<b>' + response.ExpOffice + '</b>');

              $("#spProduce").text(response.spProduce);
               $("#spvProduce").text('$ ' + response.spvProduce.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#spvProduce").append(' ' + '<b>' + response.ExpProduce + '</b>');

              $("#spRepairs").text(response.spRepairs);
               $("#spvRepairs").text('$ ' + response.spvRepairs.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,") );
              $("#spvRepairs").append(' ' + '<b>' + response.ExpRepairs + '</b>');

              $("#spSupplies").text(response.spSupplies);
               $("#spvSupplies").text('$ ' + response.spvSupplies.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,"));
              $("#spvSupplies").append(' ' + '<b>' + response.ExpSupplies + '</b>');

              $("#spExterminator").text(response.spExterminator);
               $("#spvExterminator").text('$ ' + response.spvExterminator.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,") );
              $("#spvExterminator").append(' ' + '<b>' + response.ExpExterminator + '</b>');

              $("#spManagement").text(response.spManagement);
               $("#spvManagement").text('$ ' + response.spvManagement.toFixed(2).toString().replace(/\d(?=(\d{3})+\.)/g, "$&,") );
              $("#spvManagement").append(' ' + '<b>' + response.ExpManagement + '</b>');
            }
        });
    }
</script>

<script type="text/javascript">
document.title = '@ViewBag.Title';
</script>
